extend layout

block styleBlock 
    style. 
        .offer-area h1 { font-size: 60px }

        .banner-area {
            background: rgba(0, 0, 0, 0) url(/img/banner/consultancy.jpg) no-repeat scroll center center / cover;
        }

block content 
    .banner-area-wrapper
        .banner-area.text-center
            .container
                .row
                    .col-12
                        .banner-content-wrapper
                            .banner-content
                                h2 Tech Consultancy

    .offer-area.pt-140.pb-80.mb-3
        .container
            .row
                .col-md-6
                    h3.mb-3 Our Consultancy
                    p Through our consultancy, we bridge the gap between technology and businesses, enabling our clients to thrive in the digital age. 
                        | We aim to be the go-to resource for companies seeking reliable, unbiased tech expertise, tailored solutions, 
                        | and long-term support. Our primary focus is on delivering measurable results and empowering businesses to make informed 
                        | decisions in their technology investments.

                .col-md-6
                    img(src='/img/consult.png').px-4

    .offer-area.pt-120.pb-80.mb-3.bg-light
        .container
            .row
                .col-md-5 
                    img(src='/img/choose-us.png').px-4
                .col-md-1
                .col-md-6 
                    ul.bullet                
                        li Holistic Technology Solutions: We take a comprehensive approach to technology consulting, considering not only the technical aspects but also the unique needs and goals of your business. Our solutions are customized, scalable, and aligned with your long-term vision.
                        li Expert Consultation: Our team consists of tech experts with extensive industry experience. We stay up-to-date with the latest trends and innovations, ensuring that our clients benefit from cutting-edge insights and strategies.
                        li Vendor-Neutral Recommendations: As an independent consultancy, we are not tied to any specific technology vendors or products. This allows us to offer unbiased recommendations and identify the best solutions that fit your requirements.
                        li Risk Mitigation: We work closely with our clients to identify potential pitfalls and develop risk mitigation plans to ensure smooth project execution.
                        li Cost Optimization:  Our consultancy services are designed to optimize your technology spending, delivering value and return on investment.
                        li Collaborative Approach: Our consultants actively engage with your team, transferring knowledge and empowering your employees to effectively manage and leverage technology.

    .offer-area.pt-100.pb-100.mb-3
        .container
            .row
                .col-md-6
                    h1.mt-3 Our Consultancy Services
                .col-md-6   
                    ul.bullet 
                        li Technology Strategy & Roadmap: We develop technology strategies aligned with your business objectives and create a roadmap to guide your tech investments and initiatives.
                        li Digital Transformation: Our experts help you embrace digital technologies and processes to streamline operations, enhance customer experiences, and drive innovation.
                        li IT Infrastructure & Architecture: We design robust and scalable IT infrastructures, including cloud migrations, data center optimization, and network design, tailored to your organization's needs.
                        li Cybersecurity & Risk Management: Safeguard your business from cyber threats with our comprehensive cybersecurity assessments, vulnerability testing, and risk management strategies.
                        li Data Analytics & Business Intelligence: Leverage the power of data with our data analytics and business intelligence solutions to gain actionable insights and make data-driven decisions.
                        li Software & Application Development: From custom software solutions to mobile app development, our team can design and build applications that align with your business goals.

            .row 
                .col        
                    p.mt-5(style="font-weight: bold; font-style: italic") Stay ahead of the competition and maximize the potential of technology for your business. Career Builders’  Consultancy is here to guide you through the complexities of the digital world, offering expert advice, innovative solutions, and reliable support. Whether you need assistance with a specific tech project or a comprehensive technology transformation, our seasoned consultants are ready to empower your business for success. Contact us today, and let's embark on a transformative tech journey together!

            .row 
                .col 
                    a.default-btn(href='/book-consultation').mt-4 Book Consultation