extend layout 

block content
    img(src="img/courses/our-academy-header.png", alt="")

    .container
        p.academy-text
        | Discover our wide range of tech courses designed to ignite your passion for technology and equip you with the skills to thrive in the digital age. At Career Builders. Academy, we offer a diverse selection of courses spanning business analysis, product development, UI/UX, scrum mastery, and more. 
        br 
        br
        | Our courses are crafted to provide hands-on experience, ensuring you gain practical knowledge that&apos;s immediately applicable in the tech industry. Whether you&apos;re a beginner taking your first steps or a seasoned pro seeking to master the latest tech trends, we have a course tailored to your needs. 
        br
        br
        | Explore our course catalog, each designed and taught by industry experts, and embark on a journey of learning and growth. Join our community of tech enthusiasts, and let&apos;s embark on this exciting adventure together. Your tech future starts here Career Builders&apos; Academy.

    .container
        .courses-grid 
            .singleCourse 
                h2(style="padding-top:27px") Business Analysis
                p The Business Analyst functions as a link between the Product Owner...
                p(style="text-align:right; padding: 15px;") 
                    a(href="/business-analysis" style="color: #2c2b5e; font-weight:bold;") Read More...
            
            .singleCourse 
                h2(style="padding-top:27px") Data Analysis
                p Data analysis is the process of inspecting, cleansing, transforming
                p(style="text-align:right; padding: 15px;") 
                    a(href="/data-analysis" style="color: #2c2b5e; font-weight:bold;") Read More...

            .singleCourse 
                h2(style="padding-top:27px") UI/UX Design
                p The UI/UX Designer is responsible for creating digital products and...
                p(style="text-align:right; padding: 15px;") 
                    a(href="/ui-ux-designer" style="color: #2c2b5e; font-weight:bold;") Read More...

            .singleCourse 
                h2(style="padding-top:27px") Digital Marketing
                p Digital marketing has become increasingly important as the world
                p(style="text-align:right; padding: 15px;") 
                    a(href="/digital-marketing" style="color: #2c2b5e; font-weight:bold;") Read More...

            .singleCourse 
                h2 Professional Product Owner
                p The Product Owner is the voice of the customer within Agile teams...
                p(style="text-align:right; padding: 15px;") 
                    a(href="/professional-product-owner" style="color: #2c2b5e; font-weight:bold;") Read More...
            
            .singleCourse 
                h2 Professional Scrum Master
                p The Scrum Master is the coach, facilitator, and organiser of an agile
                p(style="text-align:right; padding: 15px;") 
                    a(href="/professional-scrum-master" style="color: #2c2b5e; font-weight:bold;") Read More...
            
            .singleCourse 
                h2 Business Process Modeling
                p Learn practical skills in modelling, analysing and optimising business..
                p(style="text-align:right; padding: 15px;") 
                    a(href="/business-process-modeling" style="color: #2c2b5e; font-weight:bold;") Read More...
            
            .singleCourse 
                h2 Product Development
                p This course will focus on implementing a product life cycle...
                p(style="text-align:right; padding: 15px;") 
                    a(href="/product-development" style="color: #2c2b5e; font-weight:bold;") Read More...

    
    .container 
        h1(style="color: red; text-align:center; margin-top: 50px; margin-bottom: 30px; font-size: 20px") COMING SOON!!!
        .coming-soon
            .single-coming 
                h2 Business Process Architect 
            
            .single-coming 
                h2 Cybersecurity  
