@media (max-width: 767px){
    .business-analysis-cover{
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    .business-analysis-div1, .business-analysis-div2{
        width: 100%;
    }

    .business-analysis-div1 img{
        width: 100%;
        height: 170px;
    }

    .business-analysis-div2{
        padding: 10px;
    }

    .business-last-div{
        display: none;
    }
    
    .phone-business-last-div{
        display: block;
    }
    .phone-business-last-div button{
        background: red;
        color: white;
        padding: 5px;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .analyst-oppt{
        background: #2c2b56;
        color: white;
        border-radius: 5px;
        padding: 10px;
    }

    .phone-analyst-flex{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .phone-single-analysis-div{
        text-align: center;
    }

    .phone-single-analysis-div img{
        height: 50%;
    }
}